<div>
  <div class="page-content">
      <div class="page-header">
          <!-- <div class="container-fluid"> -->
          <div class="row">
              <div class="col-8 col-md-6 col-xl-8 col-lg-8 col-sm-12">
                
           
                      <h2 class="h5">  <span style="color: #1c1d21;font-size: 18px; font-weight: 500;"> &nbsp;&nbsp; &nbsp; Covid
                              Report</span></h2>
                 
                 
              </div>        
               <div class=" col-4 col-md-6 col-xl-4 col-lg-4 col-sm-12">
                <form [formGroup]='covidForm'>
                <div class="row">
                   
                    <div class="col-8 Col-xl-8 col-lg-8 col-md-6 col-sm-6">
                     
                        <div class="form-group">
                            <input type="date"  placeholder="Choose Date" formControlName="dateInput" class="form-control input" [min]="todayDate">
                            <!-- <div *ngIf="submitted && f.start_date.errors" class="invalid-feedback"> -->
                                <!-- <div *ngIf="f.start_date.errors.required">Start date is required</div> -->
           
        
                        </div>
                    </div>
                    <div class="col-4 Col-xl-4 col-lg-4 col-md-6 col-sm-6">
                        <button mat-raised-button color="search" style="width:100%" (click)="getComplaint()">Choose Date</button>
                    </div>
                   
                    </div>
                </form>
              
              
              </div>
            
           
          </div>
      </div>
      <section class="no-padding-bottom">
          <div class="container-fluid " style="padding-left:20px;padding-right:20px;">
            <div class="row">
                <div class="col-8 col-md-6 col-xl-8 col-lg-8 col-sm-12">
                  <h4><span style="padding-right:10px;vertical-align: middle;"><mat-icon style="color:#6146D5">toc</mat-icon></span>Table Overview for</h4> 
                </div>        
                 
                <div class="col-4 col-md-6 col-xl-4 col-lg-4 col-sm-6">
                 
                   
                 <div class="row" style="padding-top: 0 !important;">
                        <div class="col-8 col-md-8 col-xl-8 col-lg-8 col-sm-12 pr-1">
                          
  
                        <mat-form-field style="width: 100% !important;margin-bottom: -2px;margin-top: -19px !important;" [floatLabel]="'never'">
                            <mat-label>Search</mat-label>
                  
                               
                                <!-- <input matInput type="text" /> -->
                       
                            <input matInput type="text" [(ngModel)]="searchText" style="margin-top: -6px;" autocomplete="off" id="search">
                            <button *ngIf="searchText" matSuffix mat-icon-button aria-label="Clear" (click)="searchText='';getComplaint();">
                            </button>
                          </mat-form-field>
                        </div>
                        <div class="col-4 col-md-4 col-xl-4 col-lg-4 col-sm-6" style="margin-top: -6px !important;">
                           
                                <button mat-raised-button color="search" style="width:100%" (click)="applyFilter()">Search</button>
                         
                        </div>
                    </div>
                  
                        
                        
              
  
            </div>
             
            </div>
              <div class="mat-elevation-z8">
                  <table mat-table [dataSource]="complaintTableDataSource" matSort class="mat-elevation-z8" >
                    <ng-container matColumnDef="no">
                      <th class="thead" mat-header-cell *matHeaderCellDef mat-sort-header>No </th>
                      <td class="td" mat-cell *matCellDef="let element; let i = index;"> {{(paginator.pageIndex * paginator.pageSize) +i+1}}</td>
                  </ng-container>
                      <ng-container matColumnDef="name">
                          <th class="thead" mat-header-cell *matHeaderCellDef mat-sort-header>Name </th>
                          <td class="td" mat-cell *matCellDef="let element">
                              {{element.name|titlecase}} </td>
                      </ng-container>

                      <ng-container matColumnDef="complaint_subject">
                          <th class="thead" mat-header-cell *matHeaderCellDef mat-sort-header>Vaccine </th>
                          <td mat-cell class="td" *matCellDef="let element">
                              <div class="overme">
                                  {{element.sessions[0].vaccine}}
                              </div>
                          </td>
                      </ng-container>

                      <ng-container matColumnDef="complaint_id">
                          <th class="thead" mat-header-cell *matHeaderCellDef mat-sort-header>Available Capacity</th>
                          <td class="td" mat-cell *matCellDef="let element" >
                              {{element.sessions[0].available_capacity}} </td>
                      </ng-container>

                      <ng-container matColumnDef="complaint_type">
                          <th class="thead" mat-header-cell *matHeaderCellDef mat-sort-header>Time</th>
                          <td class="td" mat-cell *matCellDef="let element" > 
                            <ng-container *ngFor="let slot of element.sessions[0].slots;">
                              {{slot.time}} <br>
                          </ng-container>
                          

                          </td>
                      </ng-container>


               

                      <tr mat-header-row *matHeaderRowDef="complaintColumns"></tr>
                      <tr class="tr" mat-row *matRowDef="let row; columns: complaintColumns;"></tr>

                      <tr class="mat-row" *matNoDataRow>
                          <td class="mat-cell td" colspan="6">No data found to display...</td>
                          <!-- "{{input.value}}" -->
                        </tr>
                  </table>

                  <mat-paginator class="paginator" [hidePageSize]="false" [pageSizeOptions]="[10,20,30]" showFirstLastButtons>
                  </mat-paginator>
              </div>

          </div>
      </section>

 
  </div>
</div>
